h1 {
  border-left: 5px solid #e1e1e1;
  padding-left: 5px;
}

.shoppinglist ul {
  list-style: none;
  margin: 0 20 0 0;
  padding: 0;
}

.shoppinglist ul li {
  background: #fff;
  padding: 10px 20px;
  position: relative;
  display: flex;
  align-items: flex-start;
  line-height: 1;
}

.newlyAdded {
  font-weight: bold;
}

.shoppinglist li .drag {
  margin-right: 15px;
  cursor: move;
}
